.title-login {
    color: $color_red;
    text-align: center;
    &.big {
        font-size: 40;
        font-weight: bold;
    }
    &.small {
        font-weight: 300;
        font-size: 14;
    }
}
